* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    color: #121214;

    h1 {
        font-size: 82px;
    }
}